
<style>
    body {
        background-image: url('../../images/afpage1.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>



<a href="~/airportinfoes/create">
    <img src="~/images/flight.png" alt="Search flights" href="~/airportinfoes/create" width="98" height="98"style="margin-left:750px; margin-top:300px;"/>
</a>
