<!DOCTYPE html>
<html>
<head>
    <title>Indian Map</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="script.js"></script>
</head>
<body>
    <h1>Indian Map</h1>
    <div id="map-container">
        <img src="indian-map.jpg" alt="Indian Map" usemap="#indianmap">
        <map name="indianmap">
            <area shape="poly" coords="192,105,202,126,192,141,204,146,218,136,224,139,230,128,243,133,262,147,278,146,298,134,314,121,334,114,338,121,345,105,332,92,331,84,337,77,325,70,324,56,322,41,320,28,314,20,300,17,294,22,277,11,269,23,246,27,243,39,235,36,224,47,223,58,202,70,195,95" href="#" data-state="Andhra Pradesh">
            <area shape="poly" coords="188,63,186,71,197,76,210,67,218,74,228,68,235,75,239,67,240,57,246,54,250,47,244,43,244,33,234,24,229,31,219,28,217,38,201,49,189,61" href="#" data-state="Telangana">
            <!-- Define more areas for other states -->
        </map>
    </div>
    <div id="airport-list">
        <h2>Airports</h2>
        <ul id="airport-list-content"></ul>
    </div>
</body>
</html>
